<section>
  <header class="page-header">
    <h1>About</h1>
  </header>

  <div class="about-info">
    <h2>We noticed the industry was bleh. We made it amazing.</h2>
    <p class="lead">We are just so innovative. It should amaze you to be witnessing this. Have you seen our ecommerce? It's just so incredible.</p>
    <%= image_tag("business-image-innovative.jpg", class: "img-responsive img-rounded", alt: "That's innovation. That's us.") %>
  </div>
</section>
